.export-controls-container {
    grid-area: export;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
  
    .button-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .controls-button {
        @include base-button;
        width: 16rem;
        text-wrap: nowrap;
      }
    }
  
    .commands-parent {
      width: 100%;
      display: flex;
      flex-direction: column;
  
      .command-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
  
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
          width: fit-content;
          padding: 0.2rem;
        }
  
        .code-pre {
          background-color: #333;
          padding: 0.5rem 0.25rem;
          display: flex;
          flex-direction: column;
          width: 60%;
          height: fit-content;
          code {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }