.framework {
  grid-area: framework;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  select{
    font-size: large;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
  }
}
